.recorder {
  position: relative;
  font-size: 12px;
  line-height: 2.5em;
  min-height: 90px;
}

.recorder__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  line-height: 22px;
}

.old {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recorder__actions {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.inline {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.recorder__actions button {
  margin-top: 10px;
  margin-left: 10px;
}

.recorder__countdown {
  margin-top: 5px;
  font-size: 22px;
}

.recorder__timer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
}

.recorder button {
  cursor: pointer;
  border: 1px solid $colors_border;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px 4px;
  background: transparent;
  color: $colors_darker_brand;
  font-weight: 600;
}

.recorder button:hover {
  background-color: $colors_secondary;
}

.recorder button:active {
  background-color: $colors_secondary;
}

.no__border {
  border: none;
}

/*UPLOADER STYLES*/
.uploader {
  position: relative;
  display: flex;
  margin-top: 20px;
}

.uploader input[type="file"] {
  display: none;
}

.uploader__message {
  display: flex;
  max-width: 80%;
  width: 80%;
}

.uploader__action {
  display: flex;
  align-items: flex-end;
}

.upload__label {
  cursor: pointer;
  color: $colors_darker_brand;
  font-weight: 600;
}

.error {
  color: $colors_error;
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 2.5em;
}
