.pronunciation {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.pronunciation__name {
  flex: 0 0 36%;
  max-width: 36%;
  padding-right: .75rem;
  font-size: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pronunciation__mid {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 36%;
  max-width: 36%;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #9d9d9d;
}

.pronunciation__control {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.pronunciation__select {
  position: relative;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 20px;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  border: 1px solid rgba(49, 49, 49, 0.3);
  background: #FFFFFF;
  cursor: pointer;
}

.pronunciation__select.opened {
  border: 1px solid #8A49D5;
}

.pronunciation__select.opened::after{
  transform: rotate(180deg) translateY(50%);
  transition: transform .2s ease;
}

.pronunciation__select__value {
  width: 100%;
  color: var(--textColor);
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.pronunciation__select::after {
  content: var(--arrowIcon);
  position: absolute;
  top: 50%;
  transform: rotate(0deg) translateY(-50%);
  right: 7px;
  line-height: 0;
  transition: transform .2s ease;
}

.pronunciation__options__wrapper {
  min-width: 100%;
  width: max-content;
  background: #FFFFFF;
  position: absolute;
  top: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
  z-index: 2247483647;
  max-width: 220px;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: var(--shadow);
  border-radius: 4px;
}

.pronunciation__options__list {
  width: 100%;
  cursor: pointer;
}

.pronunciation__option {
  font-size: 14px;
  line-height: 16px;
  padding: 3px 6px;
  color: var(--textColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pronunciation__option:hover {
  background: var(--optionHoverColor);

}

.pronunciation__option.active {
  background: var(--secondaryColor);
}

.pronunciation__actions {
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
  justify-content: flex-end;
}

.pronunciation__phonetic {
  composes: phonetic from "../../styles/phonetic.css";
  position: absolute;
  left: 1px;
  top: 20px;
  color: black;
}

.pronunciation__action {
  display: flex;
  align-items: center;
  flex: 0;
}
