:root {
  --tooltip-margin: 60px;
  --tooltip-arrow-size: 6px;
}

.modal_wrapper {
  display: inline-block;
  position: relative;
  align-self: center;
}

.tooltip_tip {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 4px;
  padding: 10px;
  color: $colors_white;
  background: $colors_darker_brand;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
  border-color: $colors_dark_grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tooltip_tip::before {
  content: " ";
  left: 80%;
  border: solid transparent;
  height: 0;
  width: 1px;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

/* Absolute positioning */
.tooltip_tip.top {
  top: calc(var(--tooltip-margin) * -1);
}

.tooltip_tip.top::before {
  top: 100%;
  border-top-color: $colors_darker_brand;
}

/* CSS border triangles */
.tooltip_tip.right::before {
  left: 86%;
}

/* CSS border triangles */
.tooltip_tip.left::before {
  left: 12%;
}

.title {
  display: flex;
  line-height: 17px;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 6px;
}

.tooltip_button {
  color: $colors_dark_grey;
  background: white;
  border: solid 1px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 5px 5px;
  margin: 2px;
}
