@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.input {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-style: solid;
  border-radius: 10px;
  min-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  color: $colors_dark_grey;
}

.block {
  margin-top: 20px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.actions {
  align-self: center;
  display: flex;
  align-items: center;
}

.divider {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid transparent;
}

/*#region BUTTONS*/
.btn {
  border-radius: 5px !important;
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 12px !important;
  gap: 10px;
  color: white;
  height: 29px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn.purple {
  background-color: #6B419B;
}

.btn.red {
  background-color: #C82D4A;
}

.btn.outline {
  border: 1px solid #333333;
  background-color: white;
  color: #333333;
}

.btn__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  text-decoration-line: underline;
  border: none !important;
  background: none !important;

  color: #333333;

  cursor: pointer;
}
/*#endregion BUTTONS*/

.flex_column_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

input, select, textarea, button{ font-family:inherit; }
