.row {
    composes: row from "../PronunciationMyInfoWidget/styles.module.css";
}
.title {
    composes: title from "../PronunciationMyInfoWidget/styles.module.css";
}
.m_10 {
    composes: m_10 from "../PronunciationMyInfoWidget/styles.module.css";
}

.phonetic {
    composes: phonetic from "../../styles/phonetic.css";
    margin-top: -15px;
}

.actions {
    composes: actions from "../PronunciationMyInfoWidget/styles.module.css";
}

.unavailable_hint {
    position: relative;
    font-size: 12px;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: -10px;
}
