.container {
  composes: container from "../../styles/outlook.css";
}
.row {
  composes: row from "../../styles/outlook.css";
}

.m_10 {
  composes: m_10 from "../../styles/outlook.css";
}

.title {
  composes: title from "../../styles/outlook.css";
}

.actions {
  composes: actions from "../../styles/outlook.css";
}

.phonetic {
    composes: phonetic from "../../styles/phonetic.css";
    margin-top: -15px;
}

.unavailable_hint {
    position: relative;
    font-size: 12px;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: -10px;
}
