.main {
    color: #6A6A6A;
}

.main:hover {
    opacity: 0.7;
}

.main.playing {
    color: #946CC1;
    opacity: 1;
}

.main.playing:hover {
    opacity: 1;
}

.disableHover:hover {
  opacity: 1;
}
