.wrapper {
  composes: icon-btn from "../../../styles/icons.css";
}

.share-audio-url {
  composes: share-audio-url from "../../../styles/icons.css";
}

.active {
  composes: active from "../../../styles/icons.css";
}
