.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.name_line {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.actions {
  composes: actions from "../../styles/outlook.css";
}
