.container {
  display: flex;
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
}

.link {
  text-decoration: underline;
  margin-top: 4px;
  color: $colors_white;
}

.link:hover {
  cursor: pointer;
}
