.block {
  composes: block from "../../styles/outlook.css";
}

.container {
  composes: container from "../../styles/outlook.css";
}

.input {
  composes: input from "../../styles/outlook.css";
}

.row {
  composes: row from "../../styles/outlook.css";
}

.m_10 {
  composes: m_10 from "../../styles/outlook.css";
}

.title {
  composes: title from "../../styles/outlook.css";
}

.player {
  composes: icon-btn from "../../styles/icons.css";
}

.search {
  composes: search from "../../styles/icons.css";
}

.m_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
