input:disabled {
  border: 0px none;
  background-color: white;
  font-family: 'Montserrat', sans-seris;
  color: black;
  font-size: 16px;
  text-align: right;
}

.scrollable {
  height: 40px;
  overflow-y: scroll;
  overflow-x: hidden;

}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
