@value secondaryGray from "../../styles/colors.css";

input:disabled {
  width: 100%;
}

.attributes_wrapper {
  border: 1px solid secondaryGray;
  padding: 5px 0 5px 5px;
  border-radius: 5px;
}

.scrollable {
  padding-right: 10px;
  height: 44px;
  overflow-y: scroll;
  overflow-x: hidden;
}
