.tooltip_button {
    composes: tooltip_button from "../styles.module.css";
    min-width: 144px;
    cursor: pointer;
}

.inline_button {
    composes: tooltip_button from "../styles.module.css";
    min-width: 80px;
    cursor: pointer;
}
