@value secondary from "../../../styles/colors.css";

.settings {
  composes: icon-btn from "../../../styles/icons.css";
  background-image: url("settings.svg");
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  cursor: pointer;
}
.settings.active {
  background-color: secondary;
  opacity: 1;
}
