.wrapper {
  composes: icon-btn from "../../../styles/icons.css";
}
  
.tooltip {
  composes: tooltip from "../../../styles/icons.css";
}
  
.active {
  composes: active from "../../../styles/icons.css";
}
