.wrapper {
  composes: icon-btn from "../../../styles/icons.css";
}

.request_icon {
  composes: request from "../../../styles/icons.css";
}

.disabled {
  composes: disabled from "../../../styles/icons.css";
}
