@import "../../styles/fonts/fonts.css";

.widget {
  position: relative;
  padding: 27px 19px 27px 18px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
}

.widget:hover {
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
}

.widget--extended.modal {
  max-width: 520px;
  min-width: 520px;
}

.widget--extended:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
