@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  composes: container from "../../styles/outlook.css";
}

.m_10 {
  composes: m_10 from "../../styles/outlook.css";
}

.title {
  composes: title from "../../styles/outlook.css";
}
