@import "../../styles/fonts/fonts.css";

.divider {
  margin: 15px 0;
  border: 0;
  border-top: 2px solid $colors_black;
}

.container {
  composes: container from "../../styles/outlook.css";
}

.m_10 {
  composes: m_10 from "../../styles/outlook.css";
}

.title {
  composes: title from "../../styles/outlook.css";
}

.actions {
  composes: actions from "../../styles/outlook.css";
}

.m_5 {
  margin: 5px 0;
}

.input {
  composes: input from "../../styles/outlook.css";
}

.player {
  composes: icon-btn from "../../styles/icons.css";
}

.search {
  composes: search from "../../styles/icons.css";
}

.tooltip{
  composes: tooltip from "../../styles/icons.css";
}

.phonetic {
  composes: phonetic from "../../styles/phonetic.css";
}
