.container {
  display: flex;
}

.button {
  background: white;
  border: solid 1px;
  border-radius: 4px;
  min-width: 80px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  width: auto;
  padding: 6px 12px;
  color: $colors_dark_grey;
}

.button:hover {
  cursor: pointer;
}
