.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
  
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
  
.filarea {
  width: 100%;
}
  
.list {
  font-weight: 400;
  margin-top: 10.5px;
}
  
.row.justify_right {
  justify-content: flex-end;
}
  
.label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  color: $colors_dark_grey;
}

.label.isChild {
  font-weight: 400;
}
